<ion-header translucent="true">
  <ion-toolbar>
    <ion-title class="title">Pacientes</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" aria-label="Añadir" (click)="onAdd()">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-refresher slot="fixed" (ionRefresh)="load($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div class="search-wrap">
    <ion-searchbar
      class="search"
      [(ngModel)]="query"
      placeholder="Buscar paciente"
      show-clear-button="never"
      (ionInput)="applyFilter()">
    </ion-searchbar>
  </div>


  <ng-container *ngIf="loading; else loaded">
    <ion-list>
      <ion-item *ngFor="let i of [1,2,3,4,5,6]">
        <ion-label>
          <h3><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></h3>
          <p><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #loaded>

    <ion-card *ngIf="error">
      <ion-card-header>
        <ion-card-title>Error</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ error }}
        <ion-button expand="block" fill="outline" (click)="load()">Reintentar</ion-button>
      </ion-card-content>
    </ion-card>


    <ng-container *ngIf="!error">
      <ion-list *ngIf="filtered.length; else empty">
        <ion-item
          *ngFor="let p of filtered; trackBy: trackById"
          button
          detail
          [routerLink]="[getId(p)]"
          routerDirection="forward">

          <ion-label>
            <h3 class="row-title">{{ p.nombre }}</h3>

            <p class="row-sub" *ngIf="displaySub(p)">
              {{ displaySub(p) }}
            </p>

            <p class="row-meta">
              <span class="meta-strong">{{ getCitasLabel(p) }}</span>
              <ng-container *ngIf="p.ultimaCitaDate; else noAppts">
                <span class="dot">•</span>
                <span>Última cita: {{ p.ultimaCitaDate | date:"d 'de' MMM, y" }}</span>
              </ng-container>
              <ng-template #noAppts>
                <span class="dot">•</span>
                <span>Sin citas registradas</span>
              </ng-template>
            </p>

          </ion-label>
        </ion-item>
      </ion-list>


      <ng-template #empty>
        <div class="empty">
          <img class="hero-img" src="assets/images/customers-patients.png" alt="Pacientes" />
          <h2>Sin pacientes</h2>
          <p>No se recibieron datos del servidor.</p>
          <ion-button expand="block" (click)="load()">Actualizar</ion-button>
        </div>
      </ng-template>
    </ng-container>
  </ng-template>
</ion-content>
