<app-header
  [settingHeader]="settingHeader"
  [customActionCompleted]="actionCompleted.bind(this)"></app-header>

<ion-content>
  <div class="container">
    <div class="section" *ngIf="!selectedCustomer">
      <ion-label for="customer" class="title bold">Informacion de
        cliente</ion-label>
      <form class="form" [formGroup]="customerForm" *ngIf="customerForm">
        <ion-button mode="md" expand="block" fill="outline"
          (click)="customerModalOpen = true">
          Agregar cliente
        </ion-button>
      </form>
    </div>

    <div class="section" *ngIf="selectedCustomer">
      <div class="section-header">
        <ion-label class="title bold">Informacion de cliente</ion-label>
        <button class="remove-btn" type="button"
          (click)="removeSelectedCustomer()">
          <ion-icon name="close-outline"></ion-icon>
        </button>
      </div>
      <div class="customer-info">
        <div class="customer-field"><label>Cliente</label><span>{{
            selectedCustomer.fullname }}</span></div>
        <div class="customer-field"><label>Correo electrónico</label><span>{{
            selectedCustomer.email }}</span></div>
        <div class="customer-field"><label>Teléfono / Celular</label><span>{{
            selectedCustomer.mobile }}</span></div>
        <div class="customer-field"><label>Dirección</label><span>{{
            selectedCustomer.address }}</span></div>
      </div>
    </div>
  </div>

  <div class="container">
    <form class="form" [formGroup]="productsForm" *ngIf="productsForm">
      <ion-label for="products" class="title bold">Lista de
        productos</ion-label>

      <ion-button mode="md" expand="block" fill="outline"
        (click)="openProductsModal()">
        Agregar productos
      </ion-button>
    </form>

    <ng-container *ngIf="orderItems.length > 0">
      <div class="section">
        <div class="products-list">
          <div class="product-item"
            *ngFor="let item of orderItems; trackBy: trackByItemId">
            <div class="product-icon">
              <ion-thumbnail>
                <img [src]="getImageSrc(item.product)"
                  [alt]="item.product.name || 'Producto'" />
              </ion-thumbnail>
            </div>

            <div class="product-content">
              <div class="product-header">
                <div class="product-info">
                  <h3>{{ item.product.name }}</h3>
                  <div class="product-price">{{ item.product.salePrice |
                    currency }}</div>
                </div>
                <button class="delete-btn" type="button"
                  (click)="removeItemFromOrder(item.id)">
                  <span class="delete-icon"><ion-icon
                      name="trash-outline"></ion-icon></span>
                </button>
              </div>

              <div class="product-tax-info">
                <span class="tax-label">Impuesto</span>
              </div>

              <div class="product-footer">
                <div class="quantity-controls">
                  <div class="quantity-input">
                    <div class="input">
                      <label>Cantidad</label>
                      <ion-label class="quantity">{{ item.quantity
                        }}</ion-label>
                    </div>
                    <div class="controls">
                      <button class="quantity-btn" type="button"
                        (click)="decreaseQuantity(item)">
                        <ion-icon slot="icon-only"
                          name="remove-outline"></ion-icon>
                      </button>
                      <button
                        class="quantity-btn"
                        type="button"
                        (click)="increaseQuantity(item)"
                        [disabled]="item.quantity >= getStock(item.product)">
                        <ion-icon slot="icon-only"
                          name="add-outline"></ion-icon>
                      </button>
                    </div>

                    <div class="stock-hint under-controls">Stock: {{
                      getStock(item.product) }}</div>
                  </div>

                </div>

                <div class="product-total">
                  <div class="total-label">Total</div>
                  <div class="total-amount">{{ (item.product.salePrice *
                    item.quantity) | currency }}</div>
                </div>
              </div>
            </div>
          </div> 
        </div>
      </div>
    </ng-container>
  </div>

  <div class="container">
    <ion-item lines="none"><ion-label
        class="title bold">Pago</ion-label></ion-item>
    <ion-item lines="none"><ion-label class="text">Subtotal</ion-label><ion-note
        slot="end">{{ subtotal | currency }}</ion-note></ion-item>
    <ion-item lines="none"><ion-label class="title"
        (click)="addDiscount()">Agregar descuento</ion-label><ion-note
        slot="end">{{ discountValue | currency }}</ion-note></ion-item>
    <ion-item lines="none"><ion-label class="title">Impuesto
        estimado</ion-label><ion-note slot="end">{{ estimatedTax | currency
        }}</ion-note></ion-item>
    <ion-item lines="none"><ion-label
        class="title bold">Total</ion-label><ion-note slot="end"><strong>{{
          total | currency }}</strong></ion-note></ion-item>
  </div>
</ion-content>

<ion-footer class="ion-no-border footer">
  <ion-button mode="md" expand="block" fill="solid"
    [disabled]="isOrderInvalid()" (click)="confirmOrder()">
    Confirmar pedido
  </ion-button>
</ion-footer>


<ion-modal
  [isOpen]="customerModalOpen"
  (didDismiss)="customerModalOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="customerModalOpen = false">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Cliente</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="customerModalOpen = false">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      
      <ion-toolbar>
        <ion-searchbar
          placeholder="Buscar cliente"
          animated="true"
          show-clear-button="focus"
          (ionInput)="onCustomerSearch($event)">
        </ion-searchbar>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-radio-group
        [value]="selectedCustomer?.id">
        <ion-list>
          <ion-item
            button
            (click)="selectCustomer(c)" 
            *ngFor="let c of filteredCustomers">
            <ion-label>
              <h2>{{ c.fullname }}</h2>
              <p *ngIf="c.email">{{ c.email }}</p>
            </ion-label>
            <ion-radio slot="end" [value]="c.id"></ion-radio>
          </ion-item>
        </ion-list>
      </ion-radio-group>

     
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="onCreateCustomer()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
  </ng-template>
</ion-modal>


<ion-modal
  [isOpen]="productModalOpen"
  (didDismiss)="productModalOpen = false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="productModalOpen = false">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Productos</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirmProducts()">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>

      <ion-toolbar>
        <ion-searchbar
          placeholder="Buscar producto"
          animated="true"
          show-clear-button="focus"
          (ionInput)="onProductSearch($event)">
        </ion-searchbar>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-item
          button
          detail="false"
          *ngFor="let p of filteredProducts"
          (click)="!isOutOfStock(p) && toggleProductSelection(p)"
          [class.disabled]="isOutOfStock(p)">
          <ion-avatar slot="start">
            <img [src]="getImageSrc(p)" alt="thumb" />
          </ion-avatar>

          <ion-label>
            <h2>{{ p.name }}</h2>
            <p>{{ p.salePrice | currency }}</p>
            <p *ngIf="!isOutOfStock(p)">Stock: {{ getStock(p) }}</p>
            <ion-badge color="medium" *ngIf="isOutOfStock(p)">Sin
              stock</ion-badge>
          </ion-label>

          <ion-checkbox
            slot="end"
            [checked]="isProductSelected(p['id'])"
            [disabled]="isOutOfStock(p)"
            (ionChange)="$event.stopPropagation(); toggleProductSelection(p)">
          </ion-checkbox>

        </ion-item>
      </ion-list>

      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="onCreateProduct()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
  </ng-template>
</ion-modal>
