/* menu.component.scss */
.menu {
  --width: 90%;

  ion-header ion-toolbar {
    --background: var(--ion-color-primary-contrast);
  }
}

ion-content::part(background) {
  background: var(--ion-color-primary-contrast);
}

.profile {
  text-align: center;

  .avatar {
    display: flex;
    height: 110px;
    width: 110px;
    margin: 0 auto;
    text-align: center;
  }

  .user-name,
  .user-email {
    margin: 5px;
  }

  .user-email {
    font-size: 14px;
  }
}

.menu-items {
  .item {
    border-radius: 14px;
    margin-bottom: 10px;

    &__icon {
      margin-right: 10px;
    }
  }
}

.app-version {
  color: var(--black-dark-color);
  font-size: 14px;
  margin-bottom: 4px;
}
